{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Recipe details</title>
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
  <div class="nav-bar">
    <a href="{%url 'recipes:about' %}" class="nav-bar-item">About</a>
    <a href="{%url 'recipes:list' %}" class="nav-bar-item">Recipes List</a>
    <a href ="{%url 'success' %}" class="nav-bar-item">Logout</a>
  </div>
  <div class="details-page-header">
    <h1>{{object.name}}</h1>
  </div>
  <div class="details-container">
    <img src="{{object.pic.url}}" alt="recipe_image" id="details_recipe_image">
    <div class="details-recipe-info">
      <h2>Cooking time (in minutes):</h2>
      <p>{{object.cooking_time}}</p> 
      <h2>Difficulty: </h2>
      <p>{{object.difficulty}} </p> 
      <h2>Ingredients: </h2> 
      <p>{{object.ingredients}}</p>
      <a href ="{%url 'recipes:list' %}" class="back-button"> Back </a>
      <button type="button" id="updateRecipeButton" class="back-button">Update Recipe</button>
      <button type="button" id="deleteRecipeButton" class="delete-button" data-recipe-id="{{ object.id }}">Delete Recipe</button>
    </div>
  </div>
  <!-- update recipe modal -->
  <div id="update_recipe_modal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <h3>Update recipe:</h3>
      <form action="{% url 'recipes:update_recipe' object.id %}" id="update_recipe_form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" id="update_recipe_button">Update Recipe</button>
      </form>
    </div>
  </div>
  <!-- confirm delete modal -->
  <div id="delete_recipe_modal" class="modal" >
    <div class="modal-content">
      <span class="close" id="closeDeleteModal">&times;</span>
      <h3>Are you sure? This action cannnot be undone.</h3>
      <button type="button" id="confirmDeleteButton" class="delete-button">Confirm Delete</button>
    </div>
  </div>
  <!-- external JS -->
  <script src="{% static 'js/script.js' %}"></script>
</body>
</html>